.orderImg {
    width: 110px;
    height: 70px;
    margin: 0;
}

.orderBtn {
    margin: 0;
    padding: 0;
    width: 97%;
}

.BurgerName {
    font-size: 20px;
}

.BurgerPrice {
    font-weight: bold;
}